.center
  %h1
    Twitter Ipsum
.container.center
  = form_tag generator_url, method: :post do
    = label_tag :twitter_handle, "@", class: "large_form_text"
    .centered_input= text_field_tag :twitter_handle

    = label_tag :number_of_paragraphs, "How Many Paragraphs?", class: "large_form_text"
    .centered_input= text_field_tag :number_of_paragraphs
    %br
    = submit_tag "Generate Ipsum"
  = notice


.container
  -if @list_of_tweets.present?
    =@list_of_tweets.length
    -@list_of_tweets.each_with_index do |tweet, index|
      =tweet
      -if index % 13 == 0 && index != 0
        %br
        %br



